[Desktop Entry]
Exec=REAL-Video-Enhancer
Icon=io.github.tntwise.REAL-Video-Enhancer
Type=Application
Name=REAL Video Enhancer
Comment=REAL Video Enhancer is a simple way to enhance videos on Linux.
Terminal=false
MimeType=video/mp4;video/avi;video/x-matroska;
Categories=AudioVideo
Keywords=Video;Enhancer;
